* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #00539a;
     --color-green:  #008762;
     --color-gold:  #FFD66B;
     --color-white: #FFFFFF;
     --color-dark: #1a2b45;
     --color-ltblue: #93a4cf;
     --color-ltgreen: #92c3b2;

     /* Topography */
     --font-main: 'EB Garamond', Garamond, serif;
     --font-bold: 'Oswald', Arial, sans-serif;

     /* Spacing Scale */
     --spacing-sm: 0.75rem;
     --spacing-md: 1.5rem;
     --spacing-lg: 3rem;

     /* Borders */
    --radius: 8px;
    --border-gold: 2px solid var;
}

body {
    font-family: 'EB Garamond', Garamond, serif;
    color: #1a2b45;
    line-height: 1.6;
    background-color: var(--color-blue)
}

header {
    background-color: var(--color-dark);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

#hero {
    position: relative;
    background-image: url(../images/aaa1.png);
    background-size: cover;
    background-position: center;
    min-height: 25rem;
    font-family: var(--font-bold);
    display: flex;
    align-items: center;
    overflow: hidden;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 51, 102, 0.65);
}

.hero-content {
    position: relative;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    padding-top: 15rem;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.hero-content p {
    font-size: .80rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Oswald', Arial, sans-serif;
}

.nav-logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
    z-index: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    z-index: 1;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.5s;
}

.nav-links a:hover {
    color: var(--color-dark);
    background-color: var(--color-white);
}

.container {
    max-width: 1400px;
    height: auto;
    display: block;
}

#cards-section {
    padding: 4rem 0;
    text-align: center;
}

.cards-grid {
    display: flex;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.card {
    width: 20rem;
    background-color: rgb(252, 249, 249);
    border: 2px double var(--color-dark);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 1.5rem;
}

.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-content p {
    color: #000000;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

#ciatriad {
    text-align: center;
    border: 5px solid var(--color-white);
    background-color: var(--color-white);
    margin-left: 100px;
    margin-right: 100px;
}

#data {
    text-align: center;
    border: 5px solid var(--color-white);
    background-color: var(--color-white);
    margin-left: 100px;
    margin-right: 100px;
}

#auth {
    text-align: center;
    border: 5px solid var(--color-white);
    background-color: var(--color-white);
    margin-left: 100px;
    margin-right: 100px;
}

#passwords {
    text-align: center;
    border: 5px solid var(--color-white);
    background-color: var(--color-white);
    margin-left: 100px;
    margin-right: 100px;
}

#table {
    text-align: center;
    border: 5px solid var(--color-white);
    background-color: var(--color-white);
    margin-left: 100px;
    margin-right: 100px;
}


#cards-section {
    text-align: center;
    border: 5px solid var(--color-white);
    background-color: var(--color-white);
    margin-left: 100px;
    margin-right: 100px;
}

.footer-text {
     text-align: center;
    border: 5px solid var(--color-white);
    background-color: var(--color-white);
    margin-left: 100px;
    margin-right: 100px;
}

.btn {
    display: inline-block;
    background-color: var(--color-ltgreen);
    color: var(--color-white);
    padding: 0.8rem 2rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: var(--color-white);
    color: var(--color-ltgreen);
}

.btn2 {
    display: inline-block;
    background-color: var(--color-ltgreen);
    color: var(--color-white);
    padding: 0.8rem 2rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.5s;
}

.btn2:hover {
    background-color: var(--color-white);
    color: var(--color-ltgreen);
}